---
layout:      page
toc:         false
title:       All Announcements

---
<div class="post-list">
{% for post in site.posts %}
<div class="postcard-left">
  {% if post.image != nil %}
  <div class="postcard-image"><img src="{{ post.image | absolute_url }}" alt="" /></div>
  {% endif %}
  <div class="postcard-text">
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    {% if post.author != nil %}
    <p class="date">{{ post.date | date: "%B %e, %Y" }} by {{ post.author }}</p>
    {% else %}
    <p class="date">{{ post.date | date: "%B %e, %Y" }}</p>
    {% endif %}
    {{ post.excerpt }}
    <p><a href="{{ post.url | relative_url }}">Read More</a></p>
  </div>
</div>
{% endfor %}
</div>