---
layout: left-sidebar
---
{% comment %}
In the left-sidebar layout, the main content comes first.
{% endcomment %}
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum nisl sed arcu tincidunt feugiat. Etiam eleifend lacus ac dapibus tempus. Aliquam consequat gravida neque. Praesent dui dui, ullamcorper vel nisl nec, lobortis cursus urna. Maecenas feugiat varius volutpat. Morbi posuere volutpat varius. Duis venenatis elit vel metus adipiscing tristique. Vivamus lacus diam, accumsan at felis nec, consequat eleifend diam. Nam aliquam ligula quam, nec mollis arcu aliquet quis. </p>
<p>Curabitur scelerisque congue augue, et convallis quam lacinia vitae. Mauris hendrerit eleifend varius. Vivamus a iaculis magna. Donec non laoreet risus, in luctus risus. Phasellus sollicitudin, lacus eu accumsan blandit, mi felis sagittis ante, et auctor purus ligula ac mi. Pellentesque a convallis urna, a tempor dolor. Maecenas faucibus congue arcu, ac tristique massa adipiscing in.</p>
<p>Suspendisse vel urna quis velit porttitor commodo sit amet eget neque. Cras ultrices orci fringilla consectetur porttitor. Fusce massa nibh, bibendum in tincidunt eu, cursus non magna. Nulla scelerisque suscipit risus, ut imperdiet justo porta ac. Vivamus dignissim sit amet risus vel commodo. Sed a pulvinar tortor. Ut augue tortor, eleifend ac gravida a, laoreet nec urna. Nunc gravida urna tristique dolor accumsan, et adipiscing enim malesuada. Nulla adipiscing erat sit amet hendrerit posuere. Fusce feugiat tellus mi. In tristique erat odio, at vehicula justo eleifend sit amet. Phasellus vitae lacus et enim luctus interdum. Vestibulum justo odio, suscipit sed orci non, congue tempus quam. Etiam sed porta nisi, vel laoreet magna.</p>
<p>Integer mollis ante purus, a convallis nisl gravida vitae. Nunc sagittis, eros in vestibulum iaculis, odio risus adipiscing leo, sed lacinia quam lacus ut justo. Etiam convallis tortor est, vitae consectetur justo adipiscing eget. Curabitur velit urna, suscipit eget purus fermentum, suscipit egestas dolor. Quisque ultricies tellus nec diam pellentesque lobortis. Vivamus dapibus, ipsum a vulputate tempus, nulla tortor lobortis erat, et interdum diam est eget lorem. Cras nec iaculis quam, vel molestie arcu. Fusce consectetur orci a fringilla dignissim. Mauris interdum sem eros, at consequat est congue sit amet.</p>
<p>Aenean tellus risus, ullamcorper eu enim non, vehicula aliquet turpis. Vestibulum sodales, tortor in feugiat bibendum, urna turpis accumsan felis, eget malesuada neque est vel mauris. Phasellus fermentum metus quis commodo malesuada. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus suscipit pharetra euismod. Mauris dapibus, orci eget dapibus lobortis, est nisi venenatis sapien, ac tristique massa lacus quis elit. Nullam convallis ultricies arcu vitae scelerisque. Proin aliquam rhoncus nibh vitae consectetur. Nunc non orci blandit, imperdiet purus cursus, sagittis dolor. Fusce ligula sem, luctus quis lectus ac, faucibus dapibus ante. Suspendisse ut massa eget odio dictum imperdiet vel sed diam. Suspendisse suscipit elit non orci facilisis venenatis. Integer id massa eu nulla iaculis auctor. Suspendisse potenti.</p>
<p class="lead">&nbsp;</p>

{% comment %}
Once the main content is done, use the following include to mark the
transition from main content to left sidebar.
{% endcomment %}
{% include left-sidebar/transition.html %}

{% comment %}

{% endcomment %}
{% include toc.html
   id="contents"
%}

<p>Other stuff can go into the sidebar, not just contents!<p>
