---
layout: right-sidebar
---
 {% comment %}
 In the right-sidebar layout, the main content comes first.
 {% endcomment %}
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum nisl sed arcu tincidunt feugiat. Etiam eleifend lacus ac dapibus tempus. Aliquam consequat gravida neque. Praesent dui dui, ullamcorper vel nisl nec, lobortis cursus urna. Maecenas feugiat varius volutpat. Morbi posuere volutpat varius. Duis venenatis elit vel metus adipiscing tristique. Vivamus lacus diam, accumsan at felis nec, consequat eleifend diam. Nam aliquam ligula quam, nec mollis arcu aliquet quis. </p>

<p>Curabitur scelerisque congue augue, et convallis quam lacinia vitae. Mauris hendrerit eleifend varius. Vivamus a iaculis magna. Donec non laoreet risus, in luctus risus. Phasellus sollicitudin, lacus eu accumsan blandit, mi felis sagittis ante, et auctor purus ligula ac mi. Pellentesque a convallis urna, a tempor dolor. Maecenas faucibus congue arcu, ac tristique massa adipiscing in.</p>

<p>Suspendisse vel urna quis velit porttitor commodo sit amet eget neque. Cras ultrices orci fringilla consectetur porttitor. Fusce massa nibh, bibendum in tincidunt eu, cursus non magna. Nulla scelerisque suscipit risus, ut imperdiet justo porta ac. Vivamus dignissim sit amet risus vel commodo. Sed a pulvinar tortor. Ut augue tortor, eleifend ac gravida a, laoreet nec urna. Nunc gravida urna tristique dolor accumsan, et adipiscing enim malesuada. Nulla adipiscing erat sit amet hendrerit posuere. Fusce feugiat tellus mi. In tristique erat odio, at vehicula justo eleifend sit amet. Phasellus vitae lacus et enim luctus interdum. Vestibulum justo odio, suscipit sed orci non, congue tempus quam. Etiam sed porta nisi, vel laoreet magna.</p>

<p>Integer mollis ante purus, a convallis nisl gravida vitae. Nunc sagittis, eros in vestibulum iaculis, odio risus adipiscing leo, sed lacinia quam lacus ut justo. Etiam convallis tortor est, vitae consectetur justo adipiscing eget. Curabitur velit urna, suscipit eget purus fermentum, suscipit egestas dolor. Quisque ultricies tellus nec diam pellentesque lobortis. Vivamus dapibus, ipsum a vulputate tempus, nulla tortor lobortis erat, et interdum diam est eget lorem. Cras nec iaculis quam, vel molestie arcu. Fusce consectetur orci a fringilla dignissim. Mauris interdum sem eros, at consequat est congue sit amet.</p>
<p class="lead">&nbsp;</p>

{% comment %}
Once the main content is done, use the following include to mark the
transition from main content to right sidebar.
{% endcomment %}
{% include right-sidebar/transition.html %}

{% comment %}
This shows the hero-image include, but this time, caption-overlay is set to
true.
{% endcomment %}
{% include hero-image.html
   src="assets/lagunita/images/samples/750_2.jpg"
   caption-header="Hero Image Caption"
   caption-text="On large devices the caption appears on hover. On tablets and smaller devices the caption appears below the image."
   caption-overlay=true
%}
<div class="well">
  <h2>Stanford Facts at a Glance</h2>
  <h3 class="margin-bottom-10">Established 1885</h3>
  <h3>Student Enrollment</h3>
  <ul>
    <li><span>Undergraduates: 6,999</span></li>
    <li><span>Graduates: 8,871</span></li>
  </ul>
  <h3>Campus</h3>
  <ul>
    <li><span>8,180 contiguous acres in six governmental jurisdictions</span></li>
    <li><span>Nearly 700 major buildings</span></li>
    <li><span>96% of undergraduates live on campus</span></li>
  </ul>
</div>
{% comment %}
  These are two info boxes.  An icon is on the left, and the right has a
  header, with body placed 1.5 lines under.

  The "icon" parameter is optional, and defaults to "info-circle".
  You can use any icon name from https://fontawesome.com/cheatsheet

  The "header" parameter contains header text, and the "content" parameter
  contains HTML.  NOTE: If you have quotes in your HTML, place a backslash
  before each one, so that they are distinquished from Jekyll's quotes.
{% endcomment %}
{% include info-box.html
   header="More Info"
   content="<a href=\"http://facts.stanford.edu\">Stanford Facts</a>"
%}
{% include info-box.html
   icon="arrow-circle-right"
   header="See Also"
   content="<a href=\"speak.html\">Stanford Speak</a> &ndash; Learn the lingo of \"the Farm.\""
%}
