---
layout:      wide
title:       Support
title_line:  false
description: How to get help using Globus at Stanford.
---

<h1>How Can We Help You?</h1>

<p>General information is available for broad categories of issues:</p>

<div class="panel-group" id="support" role="tablist" aria-multiselectable="true">

{% capture s1 %}

<p>If you have questions or problems regarding Globus accounts, the first thing
you should do is read the page <a href="{{ "accounts.html" | relative_url
}}">About Globus Accounts</a>.  That page has an overview of Globus identities,
and how one person can have multiple identities, all linked together.</p>

<p>If you need information on how to create an account, <a href="{{
"accounts/create.html" | relative_url }}" title="Create a Globus Account">we
have a page for that</a>.</p>

<p>If you are able to log in to Globus, but you constantly have to log out and
log in with different email addresses and passwords, then you probably need to
<a href="{{ "accounts/link.html" | relative_url }}">link your
identities</a>.</p>

<p>If you aren't sure about what to do when you are getting ready to leave
Stanford, <a href="{{ "accounts/leaving.html" | relative_url }}" title="Leaving
Stanford">we have a page for that, too</a>!</p>

<p>If you are still having issues, reach out to your <a href="#local">local
    support contact</a>.  When you reach out, please tell us what you are
trying to do, the problems you are having (error messages and screen shots are
helpful!), and what goal you are trying to achieve.</p>

{% endcapture %}

{% include panel.html
   parent="support"
   id="accounts"
   scenario="I'm having problems with my Globus account."
   content=s1
%}

{% capture s2 %}

<p>When you are having problems with Globus Connect Personal (GCP), the first thing
to check is, is GCP able to communicate with Globus?  To
check this, go to the <a href="https://www.globus.org/app">Globus Web Site</a>
and try to access your endpoint.  When you attempt an access, the GCP icon {{ "assets/client/Toolbar Icon.png" | relative_url }}
should start to animate.  If the Globus web site returns an error, and you do
not see the icon animating, then GCP is not properly
communicating with Globus.  Try quitting and re-launching GCP.</p>

<p>If GCP is still not communicating with Globus, or if GCP tells you that it
is having problems connecting to `relay.globusonline.org`, then connections
might be blocked by the network you are on.  To work around this, use the
<a href="http://uit.stanford.edu/service/vpn">Stanford VPN</a>,
but <em>make sure you are using the Full Traffic (non-split-tunnel) mode</em>,
to ensure that all traffic goes through the VPN.</p>

<p>If GCP is working; but you get errors when doing directory listings; or, if
transfers <em>from</em> your endpoint work, but transfers <em>to</em>
your endpoint are failing; then your list of allowed paths needs to be changed.
Remember, GCP is <em>deny-by-default</em>, so you must explicitly tell it which
paths may be read from or written to.  See the end of the
<a href="{{ "client/install.html" | relative_url }}" title="Installing Globus
Connect Personal">GCP installation instructions</a> for help.</p>

<p>If you have problems making or using a shared endpoint that is being hosted
by Globus Connect Personal, then you should confirm that Globus Plus is enabled
for you, and that you have enabled sharing in GCP.  See the
<a href="{{ "client/plus.html" | relative_url" title="Globus Plus">Globus Plus
instructions</a> for more information.</p>

<p>If none of that helps, the next place to go for help is the Globus <a
    href="https://groups.google.com/a/globus.org/forum/#!forum/user-discuss/home">User
    Discuss list</a>.  This is a Google group, which you can join using your
Stanford University Google account, or (if you have one) your personal Google
account.  Other users, as well as Globus staff, monitor this list.</p>

<p>If all else fails, reach out to your <a href="#local">local support
    contact</a>.  When you reach out, please tell us what you are trying to
do, the problems you are having (error messages and screen shots are helpful!),
and what goal you are trying to achieve.</p>

{% endcapture %}

{% include panel.html
   parent="support"
   id="client"
   scenario="I'm having problems with Globus on my computer (Globus Connect Personal)."
   content=s2
%}

{% capture s3 %}

<p>Sometimes, you might be having problems with someone else's endpoint.  For
example, you might be unable to transfer a file, even though you think you
should be able to.</p>

<p>The best way to get help is to reach out to the endpoint owner
directly.  To do that, look at the endpoint's information page.</p>

{% include hero-image.html
   src="assets/server/Endpoint Overview.png"
   alt="A Globus endpoint's 'Overview' page, showing endpoint details"
   caption-overlay=true
   caption-header="Endpoint overview"
   caption-text=""
%}

<p>In the endpoint's information page, there should be a <em>Contact
    E-mail</em>.  That is who you should email for assistance.</p>

<p>If no contact email is listed, or the email address did not work, then what
you should do depends on if the endpoint is a Stanford endpoint.</p>

{% capture endpoints-list %}
<p>If an endpoint's <em>Owner</em> is on the following list, it is a
Stanford University endpoint:</p>
<ul>
  <li>scgpm@globusid.org</li>
  <li>srcc@globusid.org</li>
  <li>stanfordlibraries@globusid.org</li>
  <li>stanford@globusid.org</li>
</ul>
{% endcapture %}
{% include info-box.html
   raw=endpoints-list
%}

<p>If the endpoint is a Stanford endpoint, and there is no contact information,
please <a href="mailto:srcc-support@stanford.edu">let us know</a>.  Your email
should include as much information about the endpoint as possible.  The
UUID—which you can find on the endpoint's information page—is especially
helpful, because that is an endpoint's unique identifier.  You should also tell
us what information is missing.  We will figure out who owns the endpoint, ask
them to update their contact information, and let them know about your
problem.</p>

<p>If the endpoint is <em>not</em> a Stanford endpoint, then unfortunately
there is not much we can do to help.  Instead, you should go back to the
person, group, or web site who referred you to the endpoint.  Let them know
about the problems your were experiencing, and where you got the instructions
you were following.</p>

{% endcapture %}

{% include panel.html
   parent="support"
   id="external"
   scenario="I'm having problems with someone else's endpoint (such as listing a directory, or transfer errors from a remote host)."
   content=s3
%}

{% capture s4 %}

<p>This is probably the most complicated area, because Globus Connect Server can
be set up in so many ways.</p>

<p>First of all, if you made <em>any</em> changes to server-side configuration
in <code>/etc/globus-connect-server.conf</code>, you will need to re-run
<code>globus-connect-server-setup</code> for those changes to take effect.</p>

<p>If you do make a change that involves running
<code>globus-connect-server-setup</code>, existing transfers and shares might
be disrupted.  You should pause and unpause all transfers, and ask shared
endpoint owners to make sure their shared endpoints are still working.</p>

{% include info-box.html
   icon="exclamation-triangle"
   header="Changing encryption silently kills transfers."
   content="If you endable encryption on an endpoint that did not have encryption before, all active transfers will silently start failing, and will time out after a day or so.  In that case, you should cancel all in-progress transfers after enabling encryption."
%}

<p>If clients are having problems connecting, or Globus itself is having
problems connecting to your sever, first make sure your server's <a href="{{
"server/configure.html" | relative_url }}">initial configuration</a> is OK
(particularly the parts about the firewall).  You should also make sure that
your host's information is correct in public DNS.</p>

<p>If users are having problems authenticating, you should check that your
<a href="{{ "server/auth.html" | relative_url }}">authentication
   configuraion</a> is correct.  If it is, then consult
   <code>/var/log/messages</code> (or <code>/var/log/syslog</code>),
   <code>/var/log/gridftp.log</code>; and possibly also
   <code>/var/log/myproxy.log</code> (for legacy MyProxy auth) or your web
   server's error log (for MyProxy OAuth) for clues.</p>

<p>The next resource to check is Globus' <a
    href="https://docs.globus.org/globus-connect-server-installation-guide/">Globus
    Connect Server Installation Guide</a>.  This guide is the generic guide
that applies to all users.</p>

<p>If you have reached this point and you still have problems, you will
probably need to start gathering detailed logs.</p>

<p>If you are using MyProxy OAuth or Legacy MyProxy authentication, then you
should look at logs for the MyProxy server, which can be found in your normal
syslog file.  For MyProxy OAuth authentication, warnings and
errors often go to both the normal syslog file and to Apache's error log.</p>

<p>For CILogon authentication, there is no local authentication service
running, so there is nothing to log.  In this case, you will have to ask the
end user to send you any debugging information that they can find through the
Globus web site.</p>

<p>As for metadata and transfer operations, they are all handled in GridFTP,
which logs to <code>/var/log/gridftp.log</code>.  By default, GridFTP only logs
errors.  If you want GridFTP to log more information, edit the file at path
<code>/etc/gridftp.conf</code>, and insert the following line:</p>

<pre>
log_level error,warn,info
</pre>

<p>GridFTP has four types of logs: <code>error</code>, <code>warn</code>,
<code>info</code>, and <code>dump</code>.  Contrary to most logging methods,
with GridFTP if you want detailed logging, you must also enable all of the
less-verbose log levels, or else some messages will not be logged.  The
<code>dump</code> level of logging logs actual GridFTP messages (minus
encryption).  If you want to log everything, you may use <code>all</code>
instead of writing <code>error,warn,info,dump</code>.</p>

<p>After changing the log level, restart the <code>globus-gridftp-server</code>
service for changes to take effect.</p>

<p>If the more-detailed logs haven't exposed the problem, the next place to go
for help is the Globus
<a
     href="https://groups.google.com/a/globus.org/forum/#!forum/admin-discuss/home">Admin
     Discuss list</a>.  This is a Google group, which you can join using your
 Stanford University Google account, or (if you have one) your personal Google
 account.  Other sysadmins, as well as Globus staff, monitor this list.</p>

<p>If all else fails, reach out to your <a href="#local">local support
    contact</a>.  When you reach out, please tell us what you are trying to
do, the problems you are having (error messages and screen shots are helpful!),
and what goal you are trying to achieve.</p>

{% endcapture %}

{% include panel.html
   parent="support"
   id="server"
   scenario="I'm having problems with my server (Globus Connect Server)."
   content=s4
%}

{% capture s5 %}

<p>If you are having problem with a shared endpoint you own, you should contact
the owner of the host endpoint.  If you are having problems with someone else's
endpoint, refer to <a href="#external"><em>I need help with someone else's
        endpoint</em></a>.

{% endcapture %}

{% include panel.html
   parent="support"
   id="shared"
   scenario="I need help with a shared endpoint."
   content=s5
%}

{% capture s6 %}

<p>If you are developing software that interacts with Globus, you should always
have the <a href="https://docs.globus.org/api/">Globus API documentation</a>
close at hand.  That is the first place to go, when you are unsure about the
details of the API.  In particular, if you are working with the Java or Python
SDKs, you should always consult the REST API documentation to get full details
on API operations (most of the time, SDK documentations will refer you to the
REST API docs).</p>

<p>Your next destination should be the <a
    href="https://groups.google.com/a/globus.org/forum/#!forum/developer-discuss/home">Developer
    Discuss</a> list.  This is a Google group, which you can join using your
Stanford University Google account, or (if you have one) your personal Google
account.  Other developers, as well as Globus staff, monitor this list.</p>

<p>If you find a problem with the API, where it does something that should not
happen, you should <a href="mailto:srcc-support@stanford.edu">email us</a>, so
that we can get a ticket opened directly to Globus.  When you report your
issue, there is some information that you <em>must</em> include:</p>

<ul>

    <li>A pointer to the API operation that is having a problem.  That includes
        the name of the operation, and a URL to the API's <a
            href="https://docs.globus.org/api">documentation page</a>.</li>

    <li>A <em>reduced test case</em>.  This is a script or program, which takes
        a Globus client ID (and if appropriate, a client secret) and is able to
        reproduce the problem in as few steps as possible.<br />

        When you submit your reduced test case, you should have some
        <b>temporary</b> Globus credentials hard-coded in the test case.  You
    should create a fresh client ID and client secret, which you can delete
    once your problem has been resolved.</li>

</ul>

<p>With that information, we will let you know if any information is missing,
and then open a case with Globus!</p>

{% endcapture %}

{% include panel.html
   parent="support"
   id="dev"
   scenario="I need help with software development."
   content=s6
%}

</div><!-- close out the panel-group -->

<p>If none of that was helpful, there are several direct-support options.</p>

<h2>Office Hours</h2>

<p>If you would like to talk to someone in person, there are a few places on
campus where this is available.</p>

<ul>

    <li><b>FarmShare and Sherlock office hours</b>.  The Stanford Research
        Computing Center hosts office hours for FarmShare and Sherlock
        computing environments, and there is normally at least one staffer
        available who is able to help with Globus issues.<br />

        FarmShare office hours are once a week for two hours, Autumn, Winter,
        and Spring.  The specific day and time changes every quarter.<br />

        <br />

        Sherlock office hours are on Tuesday and Thursday throughout the
        calendar year, except for Winter Close.<br />

        <br />

        Refer to the <a
                         href="https://srcc.stanford.edu/office-hours-and-support/support"
                         title="Stanford Research Computing Center">SRCC web
                         site</a> for specific information on hours and
                 locaions.</li>

</ul>

<h2><a name="local"></a>Local Support Contacts</h2>

<p>In order to increase responsiveness to tickets, and ease the load on any one
group, support for Globus has been spread out across several groups on
campus.</p>

<p>If you need to reach out to someone at Stanford for support, first see if
your group, Department, or School is on this list:</p>

<ul>

    <li>If you are affiliated with SUL, you should contact <a
            href="https://library.stanford.edu/department/digital-library-systems-and-services-dlss"
            title="Digital Library Systems and Services">DLSS</a> for
            support.</li>

</ul>

<p>If none of the above local support contacts apply to you, then you should
<a href="mailto:srcc-support@stanford.edu">contact SRCC</a>.</p>

{% include info-box.html
   icon="clock"
   header="Support is Business-Hours Only"
   content="Globus support is provided during business hours during the calendar year, excluding Stanford holidays and Winter Close.  Some groups may also operate on a reduced schedule during breaks, and during Summer quarter."
%}
