{% comment %}
  We don't know if we are using pagination or not.  So, grab whichever post
  list is appropriate.
{% endcomment %}
{% if paginator.posts %}
  {% assign post_list = paginator.posts %}
{% else %}
  {% assign post_list = site.posts %}
{% endif %}
<div class="post-list">
{% for post in post_list %}
{% if forloop.index < 3 %}
<div class="post">
    <h2><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h2>
    <p class="date">{{ post.date | date: "%B %e, %Y" }}</p>
    <p class="excerpt">{{ post.excerpt }}
    <a href="{{ post.url | relative_url }}" class="more-link">[...]</a></p>
</div>
{% endif %}
{% endfor %}


  <a href="/announcements.html" title="Read All Announcements" class="more-link"><i class="fa fa-chevron-circle-right"></i> Older Announcements</a>
</div>

