{% comment %}
  We don't know if we are using pagination or not.  So, grab whichever post
  list is appropriate.
{% endcomment %}
{% if paginator.posts %}
  {% assign post_list = paginator.posts %}
{% else %}
  {% assign post_list = site.posts %}
{% endif %}

{% for post in post_list %}
<div class="postcard-left">
  {% if post.image != nil %}
  <div class="postcard-image"><img src="{{ post.image | absolute_url }}" alt="" /></div>
  {% endif %}
  <div class="postcard-text">
    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
    {% if post.author != nil %}
    <p class="descriptor">{{ post.date | date: "%B %e, %Y" }} by {{ post.author }}</p>
    {% else %}
    <p class="descriptor">{{ post.date | date: "%B %e, %Y" }}</p>
    {% endif %}
    {{ post.excerpt }}
    <p><a href="{{ post.url | relative_url }}">Read More</a></p>
  </div>
</div>
{% endfor %}

{% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path }}" title="Read Newer Announcements"><i class="fa fa-arrow-left fa-2x"></i></a>
{% endif %}
{% if paginator.next_page %}
  <a href="{{ paginator.next_page_path }}" title="Read Older Announcements" ><i class="fa fa-arrow-right fa-2x"></i></a>
{% endif %}
