{% comment %}
This block appears in the bottom of every page, in the right-hand column.
It is best used to provide links to related content.
{% endcomment %}
<h3>Related Links</h3>
<ul>
  <li><a href="#">Particularly relevant</a></li>
  <li><a href="#">Related and really quite interesting</a></li>
  <li><a href="#">Useful in certain circumstances</a></li>
  <li><a href="#">Purely tangential information</a></li>
</ul>

{% if site.github-edit-text != nil %}
<h3><a href="{{ site.github.repository_url }}/blob/{{ site.github.source.branch
+}}/{{ page.path }}">{{ site.github-edit-text }}</a></h3>
{% endif %}
