{% comment %}
This block appears in the bottom of every page, in the center column.
It is best used for the "More About Us" content.
{% endcomment %}
<h3>About Globus @ Stanford</h3>

<p>In 2017, Stanford obtained a campus-wide Globus standard subscription.  The
standard subscription includes unlimited use of Globus Connect Personal, Globus
Connect Server, and Globus Plus.</p>

<p>The subscription is funded through mid-2021 by Stanford University IT and
Stanford University Libraries, and is administered &amp; supported by the
Stanford Research Computing Center.</p>

<p>Most parts of Stanford University and affiliated institutions are covered by
the subscription.  Certain restrictions apply.
<a href="{{ "policies.html" | absolute_url }}"
   title="Globus @ Stanford policies">
  Read more
</a></p>
