{% comment %}
This block appears in the bottom of every page, in the right-hand column.
It is best used to provide links to related content.
{% endcomment %}
<h3>Related Links</h3>
<ul>
  <li><a href="https://srcc.stanford.edu/">Stanford Research Computing Center</a></li>
  <li><a href="https://uit.stanford.edu/organization/it-services">IT Services</a></li>
  <li><a href="https://uit.stanford.edu">University IT</a></li>
  <li><a href="https://www.globus.org/">Globus</a></li>
</ul>

{% if site.github-edit-text != nil %}
<h3><a href="{{ site.github.repository_url }}/blob/{{ site.github.source.branch
+}}/{{ page.path }}">{{ site.github-edit-text }}</a></h3>
{% endif %}
