{% comment %}
Only show the social block if we have at least one social thing to show.
{% endcomment %}
{% if    site.owner.facebook  != nil
      or site.owner.gplus     != nil
      or site.owner.twitter   != nil
      or site.owner.instagram != nil
      or site.owner.youtube   != nil
      or site.owner.github    != nil
      or site.owner.slack     != nil
%}
  <h3>Connect with us</h3>
  {% if site.owner.facebook != nil %}
    <a href="http://facebook.com/{{site.owner.facebook}}"><imgalt="Facebook"src="{{"/assets/lagunita/images/social/facebook@2x.png" | absolute_url }}" /></a>
  {% endif %}{% if site.owner.gplus != nil %}
    <a href="http://plus.google.com/{{site.owner.gplus}}"><imgalt="Google+"src="{{"/assets/lagunita/images/social/gplus@2x.png" | absolute_url }}" /></a>
  {% endif %}{% if site.owner.twitter != nil %}
    <a href="http://twitter.com/{{site.owner.twitter}}"><imgalt="Twitter"src="{{"/assets/lagunita/images/social/twitter@2x.png" | absolute_url }}" /></a>
  {% endif %}{% if site.owner.instagram != nil %}
    <a href="http://instagram.com/{{site.owner.instagram}}"><imgalt="Instagram"src="{{"/assets/lagunita/images/social/instagram@2x.png" | absolute_url }}" /></a>
  {% endif %}{% if site.owner.youtube != nil %}
    <a href="http://youtube.com/user/{{site.owner.youtube}}"><imgalt="YouTube"src="{{"/assets/lagunita/images/social/youtube@2x.png" | absolute_url }}" /></a>
  {% endif %}{% if site.owner.github != nil %}
    <a href="https://github.com/{{site.owner.github}}"><imgalt="GitHub"src="{{"/assets/lagunita/images/social/github@2x.png" | absolute_url }}" /></a>
  {% endif %}{% if site.owner.slack != nil %}
    <a href="http://{{site.owner.slack}}.slack.com/"><imgalt="Slack"src="{{"/assets/lagunita/images/social/slack@2x.png" | absolute_url }}" /></a>
  {% endif %}
  <p>&nbsp;</p>
{% endif %}
