<div class="accordion-item">
  <h3 class="accordion-header" id="{{ include.id }}-head">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#{{ include.id }}" aria-expanded="false" aria-controls="{{ include.id }}">
      {{ include.scenario }}
    </button>
  </h3>
  <div id="{{ include.id }}" class="accordion-collapse collapse" aria-labelledby="{{ include.id }}" data-bs-parent="#{{ include.parent }}">
    <div class="accordion-body">
      {{ include.content }}
    </div>
  </div>
</div>